aws.json
{
    "Comment": "An example of using Bedrock to chain prompts and their responses",
    "StartAt": "Invoke model with first prompt",
    "States": {
      "Invoke model with first prompt": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2:::foundation-model/anthropic",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": {
                  "Type": "text",
                  "text": "Estou programando um jantar romântico."
                }
              }
            ]
          },
          "contentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add first result to conversation history",
        "ResultPath": "$.result_one",
        "ResultSelector": {
          "result_one.$": "$.Body.content[0].text"
        }
      },
      "Add first result to conversation history": {
        "Type": "Pass",
        "Next": "Invoke model with second prompt",
        "Parameters": {
          "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one)"
        },
        "ResultPath": "$.convo_one"
      },
      "Invoke model with second prompt": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2:::foundation-model/anthropic",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": "Liste duas bebidas que acompanhem um jantar romântico."
              }
            ]
          },
          "contentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add second result to conversation history",
        "ResultSelector": {
          "result_two.$": "$.Body.content[0].text"
        },
        "ResultPath": "$.result_two"
      },
      "Add second result to conversation history": {
        "Type": "Pass",
        "Next": "Invoke model with third prompt",
        "Parameters": {
          "convo_two.$": "States.Format('{}\n{}\n{}', $.convo_one.convo_one, $.result_two)"
        },
        "ResultPath": "$.convo_two"
      },
      "Invoke model with third prompt": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-west-2:::foundation-model/anthropic",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": {
                  "type": "text",
                  "text": "Liste um lugar perfeito para jantar romântico."
                }
              }
            ]
          },
          "contentType": "application/json",
          "Accept": "*/*"
        },
        "End": true,
        "ResultSelector": {
          "result_three.$": "$.Body.content[0].text"
        }
      }
    }
  }
  
